/* NAVBAR */
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 5vh;
    background-color: #2a2a6b;
    vertical-align: middle;
}
li {
    display: inline;
}
.navElement {
    padding: 0.1vh;
    background-color: #2a2a6b;
    appearance: none;
    height: 5vh;
    width: 5vh;
    border: 1px solid rgba(27, 31, 35, .15);
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    display: inline-block;
    vertical-align: middle;
}
#settingsButton, #changeOperationButton, #skipButton {
    float: right;
}
#hamburger {
    width: 3.6vh;
}
#settings {
    width: 3.4vh;
}
#backArrowImg {
    width: 4vh;
    vertical-align: middle;
}
#homeButtonImg {
    width: 3.6vh;
    vertical-align: middle;
}
#navbarGradeLevel {
    color: white;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    margin-left: 1vh;
    font-size: 3vh;
    display: inline-block;
    vertical-align: middle;
}
#appTitle {
    color: white;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 3vh;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2vw;
    width: auto;
    height: 3vh;
}
#operationsIcon {
    width: 4.2vh;
    vertical-align: middle;
}

/* MAIN PAGE */
body {
    margin: 0;
}
#logo {
    max-width: 80vw;
    max-height: 25vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    text-align: center;
}

h2 {
    color: #2a2a6b;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1;
    font-size: 4.6vh;
    text-align: center;
    margin-top: 1.6vh;
    margin-bottom: 2.4vh;
}
#selectGrade {
    margin-top: 6vh;
    height: 53vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.bubbleButton {
    background-color: #2a2a6b;
    color: #ffffff;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 1vh;
    display: block;
}

.gradeButton {
    font-size: 3vh;
    height: 6vh;
    width: 60vw;
    margin-top: 1.6vh;
    margin-left: auto;
    margin-right: auto;
}
button:active, .bubbleButton:active, .operationSymbol.selected {
    transition: background-color 0.25s;
    background-color: #15153a;
}

a {
    display: block;
    text-decoration: none;
}
button {
    cursor: pointer;
}

#ten3Link {
    display: block;
    margin-top: 3.85vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.75vh;
    color: #2a2a6b;
}
#ten3Link > a {
    display: inline-block;
}

/* START GAME PAGE */
#greyout {
    display: block;
    height: 95vh;
    width: 100vw;
    position: fixed;
    top: 5vh;
    background-color: rgb(240, 240, 240);
    opacity: 80%;
}
#selectOperationBoxTwo, #selectOperationBoxFour {
    position: fixed;
    background-color: white;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: white;
    border: 2px black solid;
    border-radius: 1vh;
    width: 80vw;
    /* Centers horizontally */
    left: 50%;
    transform: translateX(-50%);
}
#selectOperationBoxTwo {
    /* Height is derived from height of contents */
    margin-top: 19vh;
}
#selectOperationBoxFour {
    /* Height is derived from height of contents */
    margin-top: 12vh;
}
.selectMathTitle {
    /* background-color: #2a2a6b;
    border: 2px solid white; */
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: #2a2a6b;
    border-bottom: 2px solid #2a2a6b;
    font-size: 2.8vh;
}
.selectMathTitle > h3 {
    margin: 1vh;
    font-weight: 500;
}
.operationOptions {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 80vw;
    text-align: center;
}
.operationSymbol {
    border-radius: 1.4vh;
    display: inline-block;
    width: 38vw;
    height: 20vh;
    border: 2px solid white;
    background-color: #2a2a6b;
    font-size: 10vh;
    cursor: pointer;
    color: white;
    font-weight: 500;
}
.rightOperations {
    margin-left: 1vw;
}
#startButtonTwo {
    margin-top: 60vh;
}
#startButtonFour {
    margin-top: 70vh;
}
.startButton {
    display: block;
    position: fixed;
    /* Centers horizontally */
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    height: 9.2vh;
    width: 60vw;
}
button:disabled {
    background-color: #454c77a6 !important;
    cursor: not-allowed;
}
#twoOptions {
    position: absolute;
    top: 92vh;
}
#fourOptions {
    position: absolute;
    top: 95vh;
}
#selectOperationBox {
    display: block;
    border: 2px #2a2a6b solid;
    height: 34vh;
    margin-top: 16vh;
}
#startButton {
    display: block;
    font-size: 3vh;
    height: 9.2vh;
    width: 60vw;
    margin-top: 14vh;
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
}

/* GAME SECTIONS */
#trackBox, #userAnswer {
    display: block;
    border: 2px #2a2a6b solid;
}
#trackBox {
    width: 80vw;
    height: 10vh;
    min-height: 8vw;
    margin-left: 10vw;
    margin-top: 5vh;
    color: #2a2a6b;
    font-size: 0;
    border-radius: 1vh;
}
.filler {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.trackIcon {
    display: inline-block;
    vertical-align: middle;
    width: 6vw;
    margin: 1vw;
}
#problemBox {
    background-color: #2a2a6b;
    color: white;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    text-align: center;
    font-size: 6vh;
    margin-top: 4.4vh;
    height: 25vh;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3vh;
}
#problemBox > p {
    display: inline-block;
    margin-top: 3vh;
    margin-bottom: 0;
}
#userAnswer {
    background-color: white;
    color: #15153a;
    margin-top: 3vh !important;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 2vh;
}
#operatorChar {
    margin-left: 4vw;
    margin-right: 4vw;
}
#numberInputs {
    margin-top: 4vh;
}
.numbersRow {
    display: block;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}
.numbersRow > li {
    background-color: #2a2a6b;
    display: inline-block;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 1vh;
    height: 6vh;
    width: 6vh;
    color: #ffffff;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 3vh;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.numbersRow > li {
    line-height: 0vh;
}

/* Below this is numpad styling */
#numpadBox {
    width: 78vw;
    height: 27vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    background-color: white;
    border-radius: 3vh;
}
#numpad {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width: 78vw;
    height: 24vh;
    margin-top: 2vh;
    flex-direction:row;
    flex-wrap:wrap;
    margin-left: auto;
    margin-right: auto;
}

.numpad{
    border:none;
    width: 18%;
    height: 8vh;
    background-color: #2a2a6b;
    color: white;
    font-size: 3vh;
    font-family: sans-serif;
    border:1px solid #1E1E5A;
    opacity:1;
    border-radius: 1vh;
    margin: 0.1vh;
}
.numpad:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.36), 0 3px 6px rgba(0,0,0,0.43);
    opacity:1.0;
    cursor:pointer;
}
.numpad:active{
    box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.13);
    opacity:1;
}
.numpad > img {
    height: 4.6vh;
    vertical-align: middle;
}
.wideButton {
    width: 23%;
    height: 7vh;
    margin: 0.2vh;
}
#negateButton {
    display: none;
}
#negateButton, #clearButton, #backspaceButton {
    margin-top: 0.4vh;
}
#backspaceButton > img {
    margin-left: -0.2vh;
}

#checkAnswer {
    font-size: 4vh;
    height: 11vh;
    width: 66vw;
    margin-top: 2vh;
    border-radius: 2vh;
    margin-left: auto;
    margin-right: auto;
}

/* FEEDBACK */
.whiteout {
    display: block;
    height: 95vh;
    width: 100vw;
    position: fixed;
    top: 5vh;
    background-color: white;
    opacity: 80%;
}
.feedbackBox {
    display: block;
    height: 64vh;
    width: 76vw;
    position: fixed;
    top: 18vh;
    left: 12vw;
    background-color: white;
    border: 3px solid black;
    border-radius: 2vh;
}
.feedbackTop {
    display: block;
    height: 4vh;
    border-radius: 1.6vh 1.6vh 0 0;
}
.feedbackMainIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 2vh;
    margin-bottom: 0;
    text-align: center;
}
.feedbackMainIcon > img {
    height: 18vh;
}
.feedbackHeader {
    color: #2a2a6b;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 5vh;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 0;
}
#feedbackHeaderRight {
    margin-top: 5vh;
}
.feedbackText {
    color: #2a2a6b;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 4vh;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 0;
}
#feedbackTextRight {
    margin-top: 8vh;
}

.feedbackOptions {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    padding: 0;
    margin-bottom: 2vh;
}

.feedbackOptionOnlyNext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    padding: 0;
    margin-bottom: 2vh;
    text-align: center;
}
.feedbackOptionOnlyNext > li {
    display: inline-block;
}

/* The buttons in the navbar */
.feedbackIcon { 
    padding: 1vh;
    background-color: #2a2a6b;
    appearance: none;
    height: 9vh;
    width: 9vh;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 1vh;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
}
.feedbackIcon > img {
    height: 7vh;
}
#skipButton { /* #skipArrow is the img, #skipButton is its container */
    margin-right: 7vh;
}
#redoButton {
    margin-left: 7vh;
    transform: rotateY(180deg);
}
#nextButton { /* #nextArrow is the img, #nextButton is its container */
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.flipped {
    transform: rotateY(180deg);
}
.upsideDown {
    transform: rotateX(180deg);
}
.hidden {
    visibility: hidden;
}
.red {
    background-color: red;
}